doctype html

html(lang='en')
  body
    table.table
      tr
        th Chauffeur
        th load type
        th pickDate
        th pickClient
        th pickCountry
        th pickCity
        th dropDate
        th dropClient
        th dropCountry
        th dropCity
      each n in del
        tr
          td= n.driver
          td= n.deliveries[0].type
          td= n.deliveries[0].date
          td= n.deliveries[0].client
          td= n.deliveries[0].place.country
          td= n.deliveries[0].place.city
          td= n.deliveries[1].place.date
          td= n.deliveries[1].client
          td= n.deliveries[1].place.country
          td= n.deliveries[1].place.city

